[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
phonenumbers = "*"
scrapy-user-agents = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"

[packages.scrapy]
git = "https://github.com/scratchmex/scrady"
ref = "dev"

[packages.pymongo]
extras = [ "srv",]
